body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;

}

h1 {
  text-align: center;
  color: #333;
}

#listaUsuarios{
  list-style: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#listaUsuarios {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#listaUsuarios li{
  background-color: #868585;
  border: #2c2b2b 1px solid;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 1px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listaUsuarios li img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
#listaUsuarios li h2{
  font-size: 20px;
  color: darkred;
}
#listaUsuarios li p{
  color: rgb(42, 3, 3);
  font-size: 15px;
}



